body{
    width: 100%;
    max-width: 600px;
    margin: auto;
    text-align: center;
    background: lightgray;
}
#divhead{
    /*margin: 0 auto;*/
    width: 100%;
    text-align: center;
}
#divbody{
    /*margin: auto;*/
    width: 600px;
    background: lightgray;
}
.fotos{
    display: block;
    background: white;
    text-align: center;
    margin-bottom: 30px;
}
.fotos h3{
    margin: 10px;
    float: left;
}
.fecha{
    margin: 10px;
    float: right;
}
.fotos img{
    width: 100%;
}
.notafoto{
    margin: 10px;
    text-align: left;
}